parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Records/*
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # PHPStan whines about every match without a default, even if logically it's still complete.
        - '#Match expression does not handle remaining value#'
        # As far as I can tell, PHPStan is just buggy on explode(). It gives this error
        # Even when it has been addressed and is impossible.
        - '#Parameter \#1 \$delimiter of function Crell\\fp\\explode expects non-empty-string#'
        -
            message: '#type has no value type specified in iterable type array#'
            path: tests/
        -
            message: '#type has no value type specified in iterable type iterable#'
            path: tests/
        # PHPStan is overly aggressive on readonly properties.
        - '#Class (.*) has an uninitialized readonly property (.*). Assign it in the constructor.#'
        - '#Readonly property (.*) is assigned outside of the constructor.#'
